:host{
    height: 10vh;

    nav {
        background: linear-gradient(30deg, #f4a332 70%, #c65b41 ) !important;
        .example-header-image {
            background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
            background-size: cover;
            width: 30px;
            height: 30px;
        }

    }
}

.fa-sign-out {
    font-size: 25px;
}