.app-container {
  .container-left {
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    left: 0;
    background: linear-gradient(to bottom, #f4a332, #c65b41);
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 1px 0px 10px 1px #f4a332;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .nav-container {

      .nav-item {
        margin-top: 10px;
        width: 90%;
        height: 50px;
        background-color: white;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        box-shadow: 1px 0px 4px 1px #f4a332;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            font-size: 16px;
            text-align: center;
            color: #f4a332;
        }
      }
    }
  }

  .container-right {
    height: 100%;
    width: 70%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    right: 0;
    background-color: transparent;
  }
}
