<div class="todo-edit-container">
  <div class="form-group">
    <textarea
      type="text"
      placeholder="Title"
      [(ngModel)]="todoService.newTodo.title"
      class="form-control title"
      name="title"
      placeholder="Title"
      (change)="this.todoService.updateTodo()"
    ></textarea>
  </div>
  <div class="form-group">
    <textarea
      type="text"
      placeholder="Note"
      [(ngModel)]="todoService.newTodo.todoText"
      class="form-control todo-text"
      name="todoText"
      placeholder="Todo Text"
      (change)="this.todoService.updateTodo()"
    ></textarea>
  </div>

  <div class="form-group">
    <p for="priorityInput">Priority:</p>
    <mat-radio-group
      aria-label="Select an option"
      (change)="todoService.prioritySelection($event)"
      class="row"
      [value]="priorities.low"
    >
      <mat-radio-button [value]="priorities.low" color="primary" class="col">
        {{ priorities.low }}
      </mat-radio-button>
      <mat-radio-button [value]="priorities.medium" color="primary" class="col">
        {{ priorities.medium }}
      </mat-radio-button>
      <mat-radio-button [value]="priorities.high" color="primary" class="col">
        {{ priorities.high }}
      </mat-radio-button>

      <button
        *ngIf="todoService.isTodoInStore(todoService.newTodo.id)"
        class="col"
        mat-stroked-button
        color="primary"
        (click)="todoService.updateTodo(); todoService.stopEditing()"
      >
        SAVE
      </button>
      <button
        *ngIf="todoService.isTodoInStore(todoService.newTodo.id)"
        class="col"
        mat-stroked-button
        color="primary"
        (click)="todoService.stopEditing()"
      >
        STOP EDITING
      </button>
      <button
        class="col"
        mat-raised-button
        color="primary"
        (click)="todoService.addTodo(todoService.newTodo)"
      >
        {{
          todoService.isTodoInStore(todoService.newTodo.id) ? "ADD NEW" : "ADD"
        }}
      </button>
    </mat-radio-group>
  </div>
</div>
