<div class="login-page-container">
    <div class="p-5">
      <img src="assets/logo.png"/>
    </div>
    <div class="text-secondary">
      <p>Connect with:</p>
    </div>
    <div class="pl-5 pr-5 d-flex justify-content-between">
      <div class="p-1"> 
        <button mat-mini-fab color="primary" (click)="authService.FacebookAuth()">
          <i class="fa fa-facebook"></i>
        </button>
      </div>
      <div class="p-1"> 
        <button mat-mini-fab color="primary"  (click)="authService.GoogleAuth()">
          <i class="fa fa-google"></i>
        </button>
      </div>
      <div class="p-1"> 
        <button mat-mini-fab color="primary" (click)="authService.TwitterAuth()">
          <i class="fa fa-twitter"></i>
        </button>
      </div>
      <div class="p-1"> 
        <button mat-mini-fab color="primary" (click)="authService.GithubAuth()">
          <i class="fa fa-github"></i>
        </button>
      </div>
    </div>
</div>
