<div class="note-container">
    <!-- <h1>FRAMEWORKS</h1>
    <h3>ng2-dragula LUB ngx-drag-and-drop</h3> -->
    <img class="note-image" src="assets/note.png" alt="draggable note">
    <p>Przenieś ikonkę na lodówkę by dodać notatkę</p>
</div>

<button mat-mini-fab color="primary" class="add-btn" (click)="openDialog('0ms', '0ms')">
          <i class="fa fa-plus"></i>
</button>

<!-- If note would be moved on trash icon then display dialog "Do you want to remove note" -->
<button mat-mini-fab color="primary" class="add-del">
          <i class="fa fa-trash"></i>
</button>