.note-container {
    width: 45%;
    height: 100%;
    float: left;
    border: 1px solid #f4a332;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .note-image {
        height: 80px;
    }

    p {
        margin-top: 20px;
        width: 200px;
        font-size: 14px;
        text-align: center;
        color: #f4a332;
    }

}

.fridge-container {
    width: 55%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;

    .fridge-image {
        height: 600px;
    }

}